<!doctype>
<html>
  <head>
    <title>Happy Holidaze</title>
  </head>
  <body>
    <h1>Hello from views/date</h1>
    Today's date is <%= @date %>
    <img src="http://www.roflcat.com/images/cats/cat-hat.jpg" alt="cat in a hat">
  </body>
</html>
