<!doctype>
<html>
  <head>
    <title>Happy Holidaze</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <p>Hello from default_layout.erb</p>
      <%=yield%>
    <p>Hello from default_layout.erb</p>
  </body>
</html>
