<!doctype html>
<html>
  <head>
  </head>
  <body>
    <section class="lists top-of-the-page important"></section>

    <a href="https://github.com/brainyandbrown"><img alt = "kitty." src="img/Octocat.jpg"></a>
    <a href="http://www.linkedin.com/in/kamariaykes">LinkedIn</a>
    <a href="about.html">About Me</a>
  </body>
</html>
