<ul class="countries-list" id="countries-container">

<!-- list all the countries here -->
  <% @countries.each do |country| %>
    <%= link_to(country.name, country_path(country)) %>
  <% end %>
</ul>

<div id="country-main">
  <script type="text/template">
  //   $(document).ready(function(){
  //     $.ajax({
  //       url: '/countries/:id',
  //       type: 'GET',
  //       dataType: 'json'
  //     })
  //     .done(function(data) {
  //       console.log("success");
  //   })
  // </script>

  <h1 id="country-name"></h1>
    <p>Language: <%#= @country.language %></p>
    <p>Population: 310232863</p>
    <p>Area in Square Miles: 9629091</p>
  <div id="flag-overlay">
    <!-- <img src="<%#= @country.flag_image %>" alt="United States"></img> -->
  </div>
  <label>
    <input type="checkbox" name="annihilated">
    Annihilate!
  </label>
</div>

