body {
  font: 16px/1.4 Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
}

.downsized {
  width: 80%;
  margin: 0 auto;
}

.pushy {
  margin-bottom: 40px;
}

.operation {
  margin: 0 auto;
  display: inline-block;
  width: 398px;
  vertical-align: top;
}

.gutter {
  display: inline-block;
  width: 5%;
}

.main {
  width: 960px;
  margin: 0 auto;
}

img {
  display: block;
}

/*==================================*/
/* Write Your Styles below!!! */
/*==================================*/

.gutter > .heart {
  position: relative;
  right: 165px; top: 60px;
}

.gutter > .butterflies {
  position: relative;
  right: 185px; top: 140px;
}

.gutter > .breadbasket {
  position: relative;
  left: 245px; top: 242px;
}

.gutter > .wishbone {
  position: relative;
  left: 225px; top: 50px;
}
