<h1>Driver Information</h1>

<form method="post" action="/first_form">

<label>Name (First MI Last):
  <input type="text" name="driver_name">
</label>

<label>License Number:
  <input type="text" number="license_number">
</label>

<input type="submit">


</form>
