<h1>Driver D.O.B. and Gender Information</h1>

<form method="post" action="/second_form">

<label>Date of Birth:
<input type="date" name="driver_dob">
</label>

<label>Male
  <input type="radio" name="sex" value="male">
</label>

<label>Female
  <input type="radio" name="sex" value="female">
</label>

<input type="submit">

</form>
