<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>
      <h1>"***Welcome to StarStalker.com - home of celebrity info, multimedia, and other assorted gossips!***"</h1>
    </title>
  </head>
  <body>
    get('/about') do
      "StarStalker was created by the Marvel Comics character Monark Starstalker in earth year 7673. He traveled back in history on an alternate timeline to bring current humans this plethora of celebrity inside information."
    end

    get('/stars') do
      STARS.each do
      end
    end
  </body>
</html>
