<form method="post" action="/koopas/new">
  <label>Name:
    <input type="form" name="name"/>
  </label>

  <label>Color:
    <input type="form" name="color"/>
  </label>

  <label>Photo URL:
    <input type="form" name="Photo URL"/>
  </label>

  <label>Has Shell:
    <input type="radio" value="yes" name="yes"/>
    <input type="radio" value="no" name="no"/>
  </label>




</form>
