Capy App!

<a href='/quiz/new'>"New Quiz"</a>

<div id='greeter'>Hello</div>

<script>
  $(document).ready(function(){
    $('#greeter').on('click', function(e){
      $(e.currentTarget).text('Hello with JS');
    })
  })
</script>







