<div class="cheese">
  <p>Name: <%= @cheese.name %></p>
  <p>Milk Type: <%= @cheese.milk_type %></p>
  <p>Description: <%= @cheese.description %></p>
  <p><img src="<%= @cheese.image_url %>"></img></p>
</div>
